<h2>Biblioteca de Jogos</h2>
<ul class="list-group mt-4">
  <li *ngFor="let jogo of jogos" class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white">
    <div>
      <h3>{{ jogo.titulo }}</h3>
      <p><strong>Fabricante:</strong> {{ jogo.fabricante }}</p>
      <p><strong>Ano:</strong> {{ jogo.anoPublicacao }}</p>
    </div>
    <div>
      <button (click)="removerJogo(jogo.titulo)" class="btn btn-danger me-2">Remover</button>
      <button (click)="exibirDetalhes(jogo)" class="btn btn-info">Ver Detalhes</button>
    </div>
  </li>
</ul>
